.spanTooltip {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:28px;
    width:300px; 
    line-height:32px;
    
}
.notes:hover .spanTooltip{
    display:table;
    position: absolute; 
    color:#111;
    border:1px solid black; 
    background: white;
    margin-left: -.051em;
    margin-top: .3em;

    height: 2.25em;

    overflow-wrap: normal;
}

.fedex-div {
    margin-bottom: -5em;
    margin-left: 3em;
}

.dash {
    margin-left: 2.5em;
}

.sidebar-div {
    z-index: 1;
    padding-left: 4em;
    height: 10em;
}

.critical-alerts {
    color: red;
}

.card {
    height: 20em;
    margin-bottom: 0.65em;
}

.alert-list {
    margin-left: -15em;
    margin-right: -15em;
    padding-right: -5em;
    -webkit-column-width: 100rem;
}

.resolved-list{
    margin-left: -15em;
    margin-right: -15em;
    padding-right: -5em;
    margin-top: 4em;
    -webkit-column-width: 100rem;
}

.alert-graph {
    margin-left: -15em;
    margin-right: -15em;
    padding-right: -5em;
    margin-top: 4em;
    -webkit-column-width: 100rem;
}

.noncrit-table-title {
    font-size: 2.2em;
    font-weight: 500;
    padding-top: 1em;
}

.noncrit-col-title {
    font-size: 1.3em;
}

.alert-btn-add {
    position: absolute;
    width: 6.4em;
    font-size: 0.75em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0em;
    margin-top: auto;
    z-index: 10;
    bottom: 2.5em;
}

.alert-btn-dismiss {
    position: absolute;
    width: 6.4em;
    font-size: 0.75em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 9.3em;
    margin-right: 0.5em;
    margin-bottom: 0em;
    margin-top: auto;
    z-index: 10;
    bottom: 2.5em;
}